<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav"> <!--navbar-transparent-->
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                class="fa fa-bars"></i></button>
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" class="logo logo-display" alt=""><img
                    src="assets/img/logo.png" class="logo logo-scrolled" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li *ngFor="let item of menu"><a routerLink="{{item.link}}"><i class="fa {{item.icon}}" aria-hidden="true"></i>{{item.name}}</a></li>
                <li *ngIf="!authService.isAuthenticated()" class="left-br"><a routerLink="/login" class="signin">Sign
                    In</a></li>
                <li class="left-br" *ngIf="authService.isAuthenticated()" >
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                aria-controls="dropdown-basic">
                            <span>{{authService.credentials.user.fname}} {{authService.credentials.user.lname}}</span>
                            <span>{{authService.credentials.user.companyName}}</span>
                            <span style="margin-left: 4px" class=" caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="goProfile()">Profile</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="clearfix"></div>
