<div class="container-detail-box">
    <h4>Test description</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Title" [(ngModel)]="test.title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mrg-top-15">
            <angular-editor [config]="editorConfig" [(ngModel)]="test.description"></angular-editor>
        </div>
    </div>
    <h4 class="mrg-top-15">Language</h4>
    <div class="row">
        <div class="col-xs-12 ">
            <div class="input-group w-100">
                <select placeholder="Language" [(ngModel)]="test.programmingLanguage" class="form-control">
                    <option value="python">Python</option>
                </select>
            </div>
        </div>
    </div>
    <h4 class="mrg-top-15">Number of test cases</h4>
    <div class="row">
        <div class="col-xs-12 ">
            <div class="input-group w-100">
                <input min="0" type="number" class="form-control" (change)="numberOfTestCasesChanged()"
                       placeholder="Number of test cases" [(ngModel)]="test.numberOfTestCases">
            </div>
        </div>
    </div>

</div>
<div class="container-detail-box" *ngFor="let item of test.testcases; let i = index">
    <h4>Test case {{i+1}}/{{test.testcases.length}}</h4>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group w-100">
                <h6>Input file</h6>
                <input id="{{i}}1" type="file" class="form-control" placeholder="Statement" [(ngModel)]="item.inFile">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group w-100">
                <h6>Output file</h6>
                <input id="{{i}}2" type="file" class="form-control" placeholder="Statement" [(ngModel)]="item.outFile">
            </div>
        </div>
    </div>
</div>
<div class="container-detail-box">

    <a (click)="addTest()" class="btn btn-success">Add test</a>

</div>