<!-- Header Title Start -->
<section class="inner-header-title blank">
  <div class="container">
    <h1>Edit Company</h1>
  </div>
</section>
<div class="clearfix"></div>
<!-- Header Title End -->
<div>
  <!-- General Detail Start -->
  <div class="detail-desc section">
    <div class="container white-shadow">
      <div class="row" style="margin-top: 20px">
        <div class="add-feild">

          <div class="col-xs-12">
            <div class="user-image-contrainer" (click)="file.click()">
              <div class="user-image">
                <img [src]="user.logoUrl ? user.logoUrl : 'assets/img/defaultCompany.jpg'">

                <div class="edit-contrainer">
                  <img alt="uploadimage" src="assets/img/uploadImage.svg"/>
                </div>
              </div>
            </div>
            <input style="display: none;position: absolute;top: 0;" #file (change)="uploadImage(file)" type="file" name="upload-pic[]" id="upload-pic"
                   class="inputfile"/>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="user.companyName">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="CEO Name" [(ngModel)]="user.ceoName">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="url" class="form-control" placeholder="URL" [(ngModel)]="user.companyUrl">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Employees Number" [(ngModel)]="user.employeesNumber">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="user.phoneNumbers">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Speciality" [(ngModel)]="user.speciality">
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <textarea class="form-control" [(ngModel)]="user.about" placeholder="About Company"></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- General Detail End -->

  <!-- Basic Full Detail Form Start -->
  <section class="full-detail">
    <div class="container">
      <div class="row bottom-mrg extra-mrg">

        <h2 class="detail-title">General Information</h2>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Email Address" [(ngModel)]="user.email">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="user.phoneNumber">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <input type="text" class="form-control" placeholder="Website Address" [(ngModel)]="user.contact.website">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control" placeholder="Country" [(ngModel)]="user.address.country">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control" placeholder="City" [(ngModel)]="user.address.city">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control" placeholder="Full Address" [(ngModel)]="user.address.fullAddress">
          </div>
        </div>

      </div>

      <div class="row bottom-mrg extra-mrg">

        <h2 class="detail-title">Social Profile</h2>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
            <input type="text" class="form-control" placeholder="Profile Link" [(ngModel)]="user.contact.facebookLink">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-github"></i></span>
            <input type="text" class="form-control" placeholder="Profile Link" [(ngModel)]="user.contact.githubLink">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
            <input type="text" class="form-control" placeholder="Profile Link" [(ngModel)]="user.contact.linkedInLink">
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
            <input type="text" class="form-control" placeholder="Profile Link" [(ngModel)]="user.contact.website">
          </div>
        </div>


      </div>
      <div class="row bottom-mrg extra-mrg">
          <h2 class="detail-title">Company Discription</h2>
          <div class="col-md-12 col-sm-12" >
            <angular-editor  [config]="editorConfig" [(ngModel)]="user.description"></angular-editor>
          </div>
          <div class="col-md-12 col-sm-12">
            <button (click)="sumbit()" class="btn btn-success btn-primary small-btn">Edit your company</button>
          </div>
      </div>
    </div>
  </section>
  <!-- Basic Full Detail Form End -->
</div>

