<!-- Title Header Start -->
<section class="inner-header-title no-br advance-header-title" style="background-image:url(assets/img/banner-10.jpg);">
    <div class="container">
        <h2 style="color: white"><span>Work There.</span> Find the dream job</h2>
        <!--        <p><span>704</span> new job in the last <span>7</span> days.</p>-->
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->
<!-- ========== Begin: Brows job Category ===============  -->
<section class="brows-job-category gray-bg">
    <div class="container">
        <!-- Sidebar Start -->
        <div class="col-md-3 col-sm-12">
            <div class="sidebar right-sidebar">

                <div class="side-widget">
                    <h2 class="side-widget-title">Advertisment</h2>
                    <div class="widget-text padd-0">
                        <div class="ad-banner">
                            <img src="http://www.delice.tn/Fr/image_resize.php?img=upload%2F1448632819.jpg"
                                 class="img-responsive" alt="">
                        </div>
                    </div>
                </div>

                <div class="side-widget">
                    <h2 class="side-widget-title">Job Name</h2>
                    <div class="job-alert">
                        <div class="widget-text">
                            <input type="text" name="keyword" class="form-control" placeholder="Job Keyword"
                                   [(ngModel)]="search.query">
                        </div>
                    </div>
                </div>

                <div class="side-widget">
                    <h2 class="side-widget-title">Salary</h2>
                    <div class="widget-text padd-10">
                        <ng5-slider [(value)]="search.minSalary" [(highValue)]="search.maxSalary"
                                    [options]="options"></ng5-slider>
                    </div>
                </div>

                <div class="side-widget">
                    <h2 class="side-widget-title">Minimum skill</h2>
                    <div class="job-alert">
                        <div class="widget-text">
                            <input type="text" class="form-control" placeholder="Skill : Html, Css, ..."
                                   [(ngModel)]="search.skill.name">
                            <ng5-slider [(value)]="search.skill.minimumLevel" [options]="skillOptions"></ng5-slider>
                        </div>
                    </div>
                </div>

                <div class="side-widget">
                    <h2 class="side-widget-title"><a href="#job-type" data-toggle="collapse">Job type<i
                            class="pull-right fa fa-angle-double-down" aria-hidden="true"></i></a></h2>
                    <div class="widget-text padd-0 collapse" id="job-type">
                        <ul>
                            <li *ngFor="let item of timeP;let i=index">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="{{i}}" value="{{item.name}}" [(ngModel)]="item.selected">
                                    <label for="{{i}}"></label>
                                </span>
                                {{item.value}}
                            </li>
                        </ul>
                    </div>
                </div>

                <a (click)="clickSearch()" class="btn btn-success" style="width: 100%;">Add test</a>

            </div>
        </div>
        <!-- Sidebar End -->

        <div class="col-md-9 col-sm-12">
            <div class="full-card">
                <div class="card-body">
                    <article class="advance-search-job" *ngFor="let item of jobs">
                        <div class="row no-mrg">
                            <div class="col-md-6 col-sm-6">
                                <a [routerLink]="['/jobs',item.company._id]" title="job Detail">
                                    <div class="advance-search-img-box">
                                        <img [src]="item.company.logoUrl ? item.company.logoUrl : 'assets/img/defaultCompany.jpg'" class="img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="advance-search-caption">
                                    <a [routerLink]="['/jobs',item._id]" title="Job Dtail"><h4>{{item.title}}</h4></a>
                                    <span>{{item.company.companyName}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="advance-search-job-locat">
                                    <p><i class="fa fa-map-marker"></i>{{item.company.address.fullAddress}}</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <a [routerLink]="['/jobs',item._id]" class="btn advance-search" title="apply">Details</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>

            <!-- Ad banner -->
            <div class="row">
                <div class="ad-banner">
                    <img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== Begin: Brows job Category End ===============  -->