<div class="tab tool-tab" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="border: none;" *ngIf="authService.credentials.user._id == job.company._id">
        <li role="presentation" class="active">
            <a href="#Section1" role="tab" data-toggle="tab"
               aria-expanded="true">
                About job
            </a>
        </li>
        <li role="presentation" class=""><a href="#Section2" role="tab" data-toggle="tab"
                                            aria-expanded="false">
            Tests <span>({{knowledgeTests.length + devTests.length}})</span>
        </a>
        </li>
        <li role="presentation" class=""><a href="#Section3" role="tab" data-toggle="tab"
                                            aria-expanded="false">
            Submissions ({{submissions.length}})
        </a>

        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabs" id="home">

        <div role="tabpanel" class="tab-pane fade active in" id="Section1">
            <div class="container-detail-box">

                <div class="apply-job-header">
                    <h4>{{job.title}}</h4>
                    <a [routerLink]="['/company',job.company._id]" class="cl-success"><span><i
                            class="fa fa-building"></i>{{job.company.companyName}}</span></a>
                    <span><i class="fa fa-map-marker"></i>{{job.company.address.fullAddress}}</span>
                </div>

                <div class="apply-job-detail">
                    <p>{{job.description}}</p>
                </div>

                <div class="apply-job-detail">
                    <h5>Skills</h5>
                    <ul class="skills">
                        <li *ngFor="let item of job.skills">{{item.name}}</li>
                    </ul>
                </div>

                <a *ngIf="authService.credentials.userType != 'COMPANY'"
                   [routerLink]="['/jobs',job._id,'apply']"
                   class="btn btn-success">Apply For This Job</a>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section2">

            <div class="container-detail-box">

                <div class="apply-job-header">
                    <h4>Knowledge tests</h4>
                </div>

                <div class="apply-job-detail">
                    <div class="row" *ngFor="let item of knowledgeTests;let i =index">
                        <div class="col-xs-8">
                            <h5>{{item.title}}</h5>
                            <h6>{{item.questions.length}} Questions</h6>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" (click)="removeTest(item,i)" class="btn remove-field">
                                Remove
                            </button>
                        </div>
                    </div>
                    <button [routerLink]="['/jobs',offerId,'qcm','add']" type="button"
                            class="add-field">Add Test
                    </button>
                </div>
            </div>

            <div class="container-detail-box">

                <div class="apply-job-header">
                    <h4>Dev tests</h4>
                </div>

                <div class="apply-job-detail">
                    <div class="row" *ngFor="let item of devTests;let i =index">
                        <div class="col-xs-8">
                            <h5>{{item.title}}</h5>
                            <h6>{{item.testcases.length}} Test cases</h6>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" (click)="removeDevTest(item,i)"
                                    class="btn remove-field">Remove
                            </button>
                        </div>
                    </div>
                    <button [routerLink]="['/jobs',offerId,'dev','add']" type="button"
                            class="add-field">Add Test
                    </button>
                </div>
            </div>

        </div>

        <div role="tabpanel" class="tab-pane fade" id="Section3">
            <div class="brows-resume" *ngFor="let user of submissions">
                <div class="row no-mrg">
                    <div class="col-md-2 col-sm-2">
                        <div class="brows-resume-pic">
                            <img [src]="user.imageUrl ? user.imageUrl : 'assets/img/user-default.jpg'" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="brows-resume-name">
                            <h4>{{user.fname}} {{user.lname}}</h4>
                            <span *ngIf="user.resume" class="brows-resume-designation">{{user.resume.professionalTitle}}</span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="brows-resume-location">
                            <p *ngIf="user.address"><i class="fa fa-map-marker"></i> {{user.address.country}} , {{user.address.fullAddress}}</p>
                        </div>
                    </div>
                </div>
                <div class="row extra-mrg row-skill">
                    <div class="browse-resume-skills">
                        <div class="col-md-9 col-sm-8">
                            <div class="br-resume" *ngIf="user.resume && user.resume.skills">
                                <span *ngFor="let item of user.resume.skills.slice(0, 8)">{{item.name}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="browse-resume-exp" [routerLink]="['/user',user._id]">
                                <span class="resume-exp">View profile</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Similar Jobs -->
<div *ngIf="0" class="container-detail-box">

    <div class="row">
        <div class="col-md-12">
            <h4>Similar Jobs</h4>
        </div>
    </div>

    <div class="row">
        <div class="grid-slide-2">

            <!-- Single Freelancer & Premium job -->
            <div class="freelance-box">
                <div class="popular-jobs-container">
                    <div class="popular-jobs-box">
                        <span class="popular-jobs-status bg-success">hourly</span>
                        <h4 class="flc-rate">$17/hr</h4>
                        <div class="popular-jobs-box">
                            <div class="popular-jobs-box-detail">
                                <h4>Google Inc</h4>
                                <span class="desination">Software Designer</span>
                            </div>
                        </div>
                        <div class="popular-jobs-box-extra">
                            <ul>
                                <li>Php</li>
                                <li>Android</li>
                                <li>Html</li>
                                <li class="more-skill bg-primary">+3</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                        </div>
                    </div>
                    <a href="http://themezhub.com/" class="btn btn-popular-jobs bt-1">View Detail</a>
                </div>
            </div>

            <!-- Single Freelancer & Premium job -->
            <div class="freelance-box">
                <div class="popular-jobs-container">
                    <div class="popular-jobs-box">
                        <span class="popular-jobs-status bg-warning">Monthly</span>
                        <h4 class="flc-rate">$570/Mo</h4>
                        <div class="popular-jobs-box">
                            <div class="popular-jobs-box-detail">
                                <h4>Duff Beer</h4>
                                <span class="desination">Marketting</span>
                            </div>
                        </div>
                        <div class="popular-jobs-box-extra">
                            <ul>
                                <li>Php</li>
                                <li>Android</li>
                                <li>Html</li>
                                <li class="more-skill bg-primary">+3</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                        </div>
                    </div>
                    <a href="http://themezhub.com/" class="btn btn-popular-jobs bt-1">View Detail</a>
                </div>
            </div>

            <!-- Single Freelancer & Premium job -->
            <div class="freelance-box">
                <div class="popular-jobs-container">
                    <div class="popular-jobs-box">
                        <span class="popular-jobs-status bg-info">Weekly</span>
                        <h4 class="flc-rate">$200/We</h4>
                        <div class="popular-jobs-box">
                            <div class="popular-jobs-box-detail">
                                <h4>Cyberdyne Systems</h4>
                                <span class="desination">Human Resource</span>
                            </div>
                        </div>
                        <div class="popular-jobs-box-extra">
                            <ul>
                                <li>Php</li>
                                <li>Android</li>
                                <li>Html</li>
                                <li class="more-skill bg-primary">+3</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                        </div>
                    </div>
                    <a href="http://themezhub.com/" class="btn btn-popular-jobs bt-1">View Detail</a>
                </div>
            </div>

            <!-- Single Freelancer & Premium job -->
            <div class="freelance-box">
                <div class="popular-jobs-container">
                    <div class="popular-jobs-box">
                        <span class="popular-jobs-status bg-danger">Yearly</span>
                        <h4 class="flc-rate">$2000/Pa</h4>
                        <div class="popular-jobs-box">
                            <div class="popular-jobs-box-detail">
                                <h4>Wayne Enterprises</h4>
                                <span class="desination">App Designer</span>
                            </div>
                        </div>
                        <div class="popular-jobs-box-extra">
                            <ul>
                                <li>Php</li>
                                <li>Android</li>
                                <li>Html</li>
                                <li class="more-skill bg-primary">+3</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                        </div>
                    </div>
                    <a href="http://themezhub.com/" class="btn btn-popular-jobs bt-1">View Detail</a>
                </div>
            </div>

        </div>
    </div>

</div>