<div class="container-detail-box" *ngIf="test">

    <div class="apply-job-header">
        <h2 class="text-center">{{test.title}}</h2>
    </div>

    <div class="apply-job-detail problem-statement">
        <div *ngFor="let item of test.questions; let i = index">
            <div class="row" *ngIf="i == currentIndex">
                <h4 class="col-xs-12">Question {{i+1}}/{{test.questions.length}} : <span style="color: darkgray">{{item.statement}}</span>
                </h4>
                <div class="col-xs-12 padd-10">
                    <div class="row answer" *ngFor="let answer of item.possibleAnswers" (click)="addResponse(answer)">
                        {{answer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
